name: Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  TZ: Asia/Shanghai

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0
          
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: latest
          extended: true

      - name: Build Hugo
        run: hugo --gc --minify

      - name: Deploy GH_Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.PERSONAL_TOKEN }}
          publish_dir: ./public
          cname: blog.kitin.cn
          commit_message: ${{ github.event.head_commit.message }}
          
      - name: Deploy to Server
        uses: easingthemes/ssh-deploy@main
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SERVER_SSH_KEY }}
          SOURCE: "public/"
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_PORT: ${{ secrets.REMOTE_PORT }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          TARGET: ${{ secrets.REMOTE_TARGET }}
          SCRIPT_BEFORE: |
            rm -rf /data/www/blog/*
          SCRIPT_AFTER: |
            chown -R caddy:caddy /data/www/
            find /data/www/ -type d -exec chmod 755 {} \;
            find /data/www/ -type f -exec chmod 644 {} \;
